<div class="recipe-container">
  <% @recipes.each do |recipe| %>
    <a href="/recipes/<%= recipe.id %>"><h3> <%= recipe.name %></> </h3> </a>
    <h6>Ingredients: <%= recipe.ingredients %></h6>
    <h6>Cook Time: <%= recipe.cook_time %> minutes</h6>
  <% end %>
</div>