<h1>Recipe maker!</h1>

<form method="POST" action="/recipes">
  <p>Enter a name for your recipe: </p><input type="text" name="recipe[name]">
  <p>Enter the ingredients: </p><input type="text" name="recipe[ingredients]">
  <p>Enter the cook time: </p><input type="text" name="recipe[cook_time]">
  <br><br>
  <input type="submit" value="Create Recipe">
</form>